@layout('_layout/default')

@section('css')
{{ style('assets/vendors/chartjs/Chart.min') }}
@endsection

@section('heading')
<div class="page-title text-center">
  <h3>HIBRID CLUSTERING TEXT DAN CLASSIFICATION TEXT</h3>
  <h3>UNTUK INFORMATION RETRIEVAL PADA ARTIKEL PUBLIKASI</h3>
</div>
@endsection

@section('content')
<div class="row mb-2">
  <div class="col-12 col-md-3">
  </div>
</div>
@endsection

@section('js')
@endsection
