click
cycler
Flask
gcld3
itsdangerous
Jinja2
joblib
kiwisolver
langdetect
MarkupSafe
matplotlib
mysql-connector
nltk
numpy
pandas
Pillow
pyparsing
python-dateutil
python-dotenv
pytz
regex
scikit-learn
scipy
six
stopwords
threadpoolctl
tqdm
Werkzeug
